.CreateTodoButton {
  background-color: #d62828;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 40px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  color: #eae2b7;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;

  transform: rotate(0);
  transition: .3s ease;
  z-index: 1;
}

.CreateTodoButton:hover {
  height: 60px;
  width: 60px;
  transform: rotate(360deg);
}
